
.btn-primary {
  background-color: #3A4B57; 
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #182833;
}

.table th,
.table td {
  color: #182833; 
}



.btn-secondary:hover {
  background-color: #3A4B57; 
}