

body {
  background-color: #c2e2fd8e;
}

.btn-primary {
  background-color: #42637D;
}

.btn-primary:hover {
  background-color: #182833;
}

.table th,
.table td {
  max-width: 300px ;
  overflow-x: auto !important;
  color: #000000;
}

.link {
  outline: none;
  text-decoration: none;
  color: #182833;
}

.link:focus {
  background: #45deef;
}

.link:hover {
  border-bottom: 1px solid;
  color: #276595;
}